{{#with user}}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header" id="top">
            <h2 class="pageheader-title">View your account details</h2>
        </div>
        <script src="assets/vendor/jquery/jquery-3.3.1.min.js"></script>
        <style>
            .dashboard-wrapper {
                position: relative;
                margin: 0 auto;
                min-height: 870px !important;
                max-width:600px;
                background-color: #fff;

            }
            .card {
                width: 100%;
                border: solid 1px #009677;
                line-height: 25px;
                padding: 10px;
                border-radius: 0px;
            }

            .card-title {
                color: #009677;
                font-size: 16px ;
                font-family: Arial, sans-serif !important;
                font-weight: bold;
            }

            .card-header {
                border: 0px !important;
            }

        </style>
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="container-fluid dashboard-content">
                    <div class="row">
                        <div class="col-xl-12">
                            <!-- ============================================================== -->
                            <!-- pageheader -->
                            <!-- ============================================================== -->
        <div class="section-block" id="basicform">
            <p>This page displays all relevant settings and preferences that we store on your account. Please view the <a href="#">view profile</a> page to understand what personal idendifialble information we store of you.</p>
        </div>
        <div class="card">
            <h5 class="card-header">Preferences</h5>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="input-select">Strong authentication</label>
                        <select class="form-control" id="input-select">
                            {{#select mfaPreferred}}
                            <option value="false">Disabled</option>
                            <option value="true">Enabled</option>
                            {{/select}}
                        </select>
                    </div>
                    <div class="form-group" style="display:none;">
                        <label for="inputText3" class="col-form-label">Newsletters</label>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" checked="" class="custom-control-input"><span class="custom-control-label">Service e-mails ({{mail_service}})</span>
                        </label>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" disabled><span class="custom-control-label"> Newsletters ({{mail_newsletter}})</span>
                        </label>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" disabled><span class="custom-control-label"> Daily deals ({{mail_daydeals}})</span>
                        </label>
                    </div>
                </form>
            </div>
            <h5 class="card-header">Information (read only)</h5>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="inputText3" class="col-form-label">Username</label>
                        <input id="inputText3" type="text" disabled class="form-control" value="{{userName}}">
                    </div>
                    <div class="form-group">
                        <label for="inputText3" class="col-form-label">Account Type</label>
                        <input id="inputText3" disabled type="text" class="form-control" value="{{account_type}}">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{/with}}
                            <!-- ============================================================== -->
                            <!-- end pageheader -->
                            <!-- ============================================================== -->
                            <div id="cnt_appLinks" class="row">

                            </div>
                        </div>
                    </div>
                </div>
            </div>









