<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header" id="top">
            <h2 class="pageheader-title">Manage your personal data</h2>
        </div>
        <div class="section-block" id="basicform">
            <p>We care about your personal data and try our very best to keep it safe. As we also respect your right to understand what data we have, we also allow you to update it yourself. If you would like to remove your account, please click <a href="/account_delete">here</a>, or manage access to your data <a href="/account_consent">here</a>.</p>
        </div>
        {{#with user}}
        <form action="account_profile" method="post">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-126 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Basic data</h5>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="inputText3" class="col-form-label">Username</label>
                                <input id="inputText3" type="text" disabled class="form-control" value="{{userName}}">
                            </div>
                            <div class="form-group">
                                <label for="inputText3" class="col-form-label">First name</label>
                                <input id="first_name" name="first_name" type="text" class="form-control" value="{{firstName}}">
                            </div>
                            <div class="form-group">
                                <label for="inputText3" class="col-form-label">Last name</label>
                                <input id="last_name" name="last_name" type="text" class="form-control" value="{{lastName}}">
                            </div>
                            <div class="form-group">
                                <label for="inputText3" class="col-form-label">Job Title</label>
                                <input id="title" name="title" type="text" class="form-control" value="{{title}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-126 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Personal data</h5>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="inputText3" class="col-form-label">Display name</label>
                                <input id="display_name" name="display_name" type="text" class="form-control" value="{{displayName}}">
                            </div>
                            <div class="form-group">
                                <label for="inputText3" class="col-form-label">Nickname</label>
                                <input id="nick_name" name="nick_name" type="text" class="form-control" value="{{nickName}}">
                            </div>
                            <div class="form-group">
                                <label for="inputText3" class="col-form-label">Profile url <span id="lbl_profileOpen" style="display:none;">(<a id="lnk_profile" href="#" target="_blank">open</a>)</span></label>
                                <input id="profile_url" name="profile_url" type="text" class="form-control" value="{{profileUrl}}"> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Save changes</h5>
                        <div class="card-body">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                <button class="btn btn-primary" type="submit">Save</button> <a href="/account_profile"><button class="btn btn-default" type="Button">Cancel</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        {{/with}}
        </div>
    </div>
</div>
<script>
    $( document ).ready(function() {
        var currentProfileUrl = $("#profile_url").val();
        console.log(currentProfileUrl);
        if ( currentProfileUrl !== null && currentProfileUrl !== '') {
            $("#lnk_profile").attr('href',currentProfileUrl);
            $("#lbl_profileOpen").show();

        } 
    });
</script>
